*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    display: flex;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    margin-left: 16px;
    cursor: pointer;
    font-size: 41px;
}
.icon1{
    mix-blend-mode: multiply;
    filter: hue-rotate(45deg);
    width: 314px;
    margin-top: 32px;
}
.weather h1{
    font-size: 64px;
    font-weight: 500;
}
.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.col img{
    height: 60px;
    width: 60px;
    mix-blend-mode: multiply;
    color: white;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 67px;
}
.one{
    display: flex;
    align-items: center;
    gap: 16px;
}
.speed,.humidity{
    font-size: 20px;
}